*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}

html{
    height: 100%;
    width: 100%;
}

header {  
    background-color: white;  
    position: fixed;  
    top: 0;  
    z-index: 100;  
    width: 70%;  
}

.continer{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}
/*navigation bar_______________________________________________*/
.Bar_Menu{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.Language{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Language_Select{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
.Language_Select_Region{
    
    color: black;
    font-size: 80%;
    font-weight: 800;
}
.Language_Select_Lenguage{
    color: #000;
    font-size: 70%;
}
.Menu_Button{

    margin-left: 20px;
    margin-right: 20px;
}

.Menu_Button_Link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.Menu_Button_Text{
    font-size: 1.4vh;
}

.Search_Field{
    width: 75vh;
    height: 4vh;
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 28px;
}
/*main content____________________________________________________*/
main{
    margin-top: 9vh;
    display: flex;
    min-height: calc(100vh - 75px);
    flex: 1;
    }

aside{
    flex: 1;
}

.Product_Cart{
    flex: 3;
}

.category{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

.Category_Item{
    color: black;
    background-color: transparent;
    width: calc(100% + 8px);
    max-width: 296px;
    height: 100%;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
}

.Category_Item:visited{
    color: black;
}

.Category_Item:hover{
  background-color: #e6ffff;
}

#cate{
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}
/*Product cart style______________________________________*/
.Product_Cart{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px;
}

.Product_Item{
    display: flex;
    flex-direction: column;
    height: 44%;
    width: 24%;
    min-height: 5vh;
    min-width: 2vh;
}

.Product_Link{
    color: black;
}

.Product_Image{
    border-radius: 28px;
    max-width: 100%;
    max-height: 65%;
}

.Product_Name{
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    height: 35px;
    max-height: 35px;
    overflow: hidden;
    vertical-align: middle;
}

.Product_Bought{
    font-size: 1.5vh;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
}

.Product_Price{
    font-size: 2vh;
    font-weight: bold;
}
/*foother content___________________________________________*/
.Shower{
    color: black;
    text-align: center;
    font-size: 2vh;
    font-weight: bold;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 28px;
}

.Shower:hover{
    background-color: rgb(190, 211, 228);
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;    
    bottom: 0; 
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
}